/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos de home*/
.logo {
  cursor: pointer; }

main {
  height: 110vh;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(50%, 50%);
  gap: 15px;
  margin: 20px; }
  main div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main div .parrafo {
    display: grid;
    grid-column: span 4;
    justify-content: center;
    padding: 30px;
    text-decoration-color: black; }

/* mq para tablets */
@media screen and (max-width: 600px) {
  main {
    height: 300vh;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50%, 50%, 50%, 50%; }
    main section img {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
      grid-template-rows: repeat(4, 1fr); }
    main .yogurt {
      display: none; }
    main .toston {
      display: none; }
  header {
    height: 50vh; }
  footer {
    height: 10vh;
    display: grid; } }

/*estilos de heladeria */
section {
  display: flex;
  width: 300px;
  height: 300px;
  gap: 60px;
  align-items: center; }
  section img {
    width: 90%;
    flex-grow: 3;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
    section img:hover {
      cursor: pointer;
      width: 400px;
      opacity: 1;
      filter: contrast(120%); }

/* mq para tablets */
@media screen and (max-width: 600px) {
  main {
    height: 300vh;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50%, 50%, 50%, 50%; }
    main section img {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
      grid-template-rows: repeat(4, 1fr); }
    main .yogurt {
      display: none; }
    main .toston {
      display: none; }
  header {
    height: 50vh; }
  footer {
    height: 10vh;
    display: grid; } }

/*estilos de cafeteria*/
section {
  display: flex;
  width: 300px;
  height: 300px;
  gap: 60px;
  align-items: center; }
  section img {
    width: 90%;
    flex-grow: 3;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
    section img:hover {
      cursor: pointer;
      width: 400px;
      opacity: 1;
      filter: contrast(120%); }

/* mq para tablets */
@media screen and (max-width: 600px) {
  main {
    height: 300vh;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50%, 50%, 50%, 50%; }
    main section img {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
      grid-template-rows: repeat(4, 1fr); }
    main .yogurt {
      display: none; }
    main .toston {
      display: none; }
  header {
    height: 50vh; }
  footer {
    height: 10vh;
    display: grid; } }

/* estilos contactos */
section {
  display: flex;
  width: 300px;
  height: 300px;
  gap: 60px;
  align-items: center; }
  section a img {
    width: 90%;
    flex-grow: 3;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
    section a img:hover {
      cursor: pointer;
      width: 400px;
      opacity: 1;
      filter: contrast(120%); }

/* mq para tablets */
@media screen and (max-width: 600px) {
  main {
    height: 300vh;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50%, 50%, 50%, 50%; }
    main section img {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
      grid-template-rows: repeat(4, 1fr); }
    main .yogurt {
      display: none; }
    main .toston {
      display: none; }
  header {
    height: 50vh; }
  footer {
    height: 10vh;
    display: grid; } }

/* estilos generales*/
body {
  background-color: #e6d9cf; }

header {
  display: flex;
  justify-content: space-around;
  background-color: #a5a19c;
  align-items: center;
  padding: 1rem;
  gap: 4rem; }
  header div {
    margin-top: 10px; }
    header div img {
      width: 200px; }

h1 {
  display: grid;
  justify-content: center;
  padding: 30px; }

footer {
  display: grid;
  flex-direction: grid;
  background-color: #a5a19c;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center; }
