/*estilos de cafeteria*/
section{
    display: flex;
    width: 300px;
    height: 300px;
    gap: 60px;
    align-items: center;
    img {
        @include imagenes;
        &:hover {
            @include efectos;
            }
   
    }
}
@import "../utilidades/md";
@import "../utilidades/mixin";